<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.LC_a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.LC_c</key>
    <array>
      <string>c</string>
      <string>ccedilla</string>
    </array>
    <key>public.kern1.LC_d</key>
    <array>
      <string>d</string>
      <string>l</string>
      <string>fl</string>
    </array>
    <key>public.kern1.LC_e</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>oe</string>
    </array>
    <key>public.kern1.LC_f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.LC_g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern1.LC_i</key>
    <array>
      <string>i</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
    </array>
    <key>public.kern1.LC_j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern1.LC_k</key>
    <array>
      <string>k</string>
    </array>
    <key>public.kern1.LC_n</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.LC_o</key>
    <array>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>b</string>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.LC_q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.LC_r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.LC_s</key>
    <array>
      <string>s</string>
      <string>scaron</string>
    </array>
    <key>public.kern1.LC_t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern1.LC_u</key>
    <array>
      <string>dotlessi</string>
      <string>mu</string>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>fi</string>
    </array>
    <key>public.kern1.LC_v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern1.LC_w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern1.LC_x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.LC_z</key>
    <array>
      <string>z</string>
      <string>zcaron</string>
    </array>
    <key>public.kern1.MIX_sup</key>
    <array>
      <string>asterisk</string>
      <string>degree</string>
      <string>four.sup</string>
      <string>one.sup</string>
      <string>three.sup</string>
      <string>two.sup</string>
      <string>registered</string>
      <string>servicemark</string>
      <string>trademark</string>
    </array>
    <key>public.kern1.PX_bracketleft</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
      <string>parenleft</string>
    </array>
    <key>public.kern1.PX_colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.PX_guillemotleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.PX_hyphen</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>guillemetright</string>
      <string>guilsinglright</string>
      <string>hyphen</string>
    </array>
    <key>public.kern1.PX_hyphen.cap</key>
    <array>
      <string>minus</string>
      <string>plus</string>
    </array>
    <key>public.kern1.PX_period</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern1.PX_quotedbl</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.PX_quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.PX_quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.PX_slash</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern1.UC_A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.UC_B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.UC_C</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern1.UC_D</key>
    <array>
      <string>D</string>
      <string>Eth</string>
    </array>
    <key>public.kern1.UC_E</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>OE</string>
    </array>
    <key>public.kern1.UC_G</key>
    <array>
      <string>G</string>
    </array>
    <key>public.kern1.UC_H</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>M</string>
      <string>N</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.UC_J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern1.UC_K</key>
    <array>
      <string>K</string>
    </array>
    <key>public.kern1.UC_L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.UC_O</key>
    <array>
      <string>O</string>
      <string>Q</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Oslash</string>
      <string>Otilde</string>
    </array>
    <key>public.kern1.UC_R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.UC_S</key>
    <array>
      <string>S</string>
      <string>Scaron</string>
    </array>
    <key>public.kern1.UC_T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.UC_U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
    </array>
    <key>public.kern1.UC_V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.UC_W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.UC_X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.UC_Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern1.UC_Z</key>
    <array>
      <string>Z</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern1.bahtthai</key>
    <array/>
    <key>public.kern1.dollar</key>
    <array>
      <string>dollar</string>
    </array>
    <key>public.kern2.LC_a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>ae</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern2.LC_b</key>
    <array>
      <string>b</string>
      <string>mu</string>
      <string>thorn</string>
    </array>
    <key>public.kern2.LC_f</key>
    <array>
      <string>f</string>
      <string>fi</string>
      <string>fl</string>
    </array>
    <key>public.kern2.LC_g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern2.LC_h</key>
    <array>
      <string>h</string>
      <string>k</string>
      <string>l</string>
    </array>
    <key>public.kern2.LC_i</key>
    <array>
      <string>i</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
    </array>
    <key>public.kern2.LC_j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern2.LC_n</key>
    <array>
      <string>dotlessi</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>r</string>
      <string>p</string>
    </array>
    <key>public.kern2.LC_o</key>
    <array>
      <string>o</string>
      <string>e</string>
      <string>c</string>
      <string>ccedilla</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>egrave</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>oe</string>
      <string>ograve</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>d</string>
      <string>q</string>
    </array>
    <key>public.kern2.LC_s</key>
    <array>
      <string>s</string>
      <string>scaron</string>
    </array>
    <key>public.kern2.LC_t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern2.LC_u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
    </array>
    <key>public.kern2.LC_v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern2.LC_w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern2.LC_x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.LC_z</key>
    <array>
      <string>z</string>
      <string>zcaron</string>
    </array>
    <key>public.kern2.MIX_sup</key>
    <array>
      <string>asterisk</string>
      <string>degree</string>
      <string>four.sup</string>
      <string>one.sup</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>registered</string>
      <string>servicemark</string>
      <string>three.sup</string>
      <string>trademark</string>
      <string>two.sup</string>
    </array>
    <key>public.kern2.PX_bracketright</key>
    <array>
      <string>braceright</string>
      <string>bracketright</string>
      <string>parenright</string>
    </array>
    <key>public.kern2.PX_colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.PX_guillemotright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.PX_hyphen</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
      <string>hyphen</string>
    </array>
    <key>public.kern2.PX_hyphen.cap</key>
    <array>
      <string>minus</string>
      <string>plus</string>
    </array>
    <key>public.kern2.PX_period</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern2.PX_quotedbl</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.PX_quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.PX_quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.PX_slash</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern2.UC_A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
    </array>
    <key>public.kern2.UC_Eth</key>
    <array>
      <string>Eth</string>
    </array>
    <key>public.kern2.UC_H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>K</string>
      <string>L</string>
      <string>P</string>
      <string>R</string>
      <string>Thorn</string>
      <string>M</string>
      <string>Ntilde</string>
      <string>N</string>
    </array>
    <key>public.kern2.UC_J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.UC_O</key>
    <array>
      <string>G</string>
      <string>O</string>
      <string>C</string>
      <string>Q</string>
      <string>Ccedilla</string>
      <string>OE</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Oslash</string>
      <string>Otilde</string>
    </array>
    <key>public.kern2.UC_S</key>
    <array>
      <string>S</string>
      <string>Scaron</string>
    </array>
    <key>public.kern2.UC_T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.UC_U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
    </array>
    <key>public.kern2.UC_V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.UC_W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.UC_X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.UC_Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern2.UC_Z</key>
    <array>
      <string>Z</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern2.bahtthai</key>
    <array/>
    <key>public.kern2.dollar</key>
    <array>
      <string>dollar</string>
    </array>
  </dict>
</plist>
